@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    background: #f6f8fc;
    color: #3C3C3D;
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
}

div {
    margin-bottom: 20px;
}

#icon {
    width: 170px;
    height: 170px;
}

#select_size {
    border-color: #3C3C3D;
    border-width: 1px;
    font-size: 75%;
}

#create {
    border-color: #3C3C3D;
    border-width: 1px;
    background: white;
    font-size: 75%;
    margin-left: 10px;
}

#create:hover {
    background: #C5C5C9;
}

.line {
    margin: 0px;
    height: 75px;
}

.square {
    background: #f6f8fc;
    border-color: #3C3C3D;
    border-style: solid;
    display: inline-block;
    border-width: 2px;
    width: 71px;
	height: 71px;
    margin: 0px;
}